<section class="main-header">
  <p>Sharing the death</p>
</section>
<section class="about">
  <p class="flash"><%= notice %><%= alert %></p>
  <h1>死について考えると自分が大切にしたいものが明確になる！</h1>
  <p>私達人間にとって最も大切なものは、時間と人間関係です。私達が生きる今の時代は忙しく、自分を忘れがちになりますが、自分が大切にすることは何か、人生は短いということを常に心に留めておけるよう努めることが大切</p>
</section>
